.tweet-article {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border: 3px solid #000000;
}

.tweet-article header {
  display: flex;
  justify-content: space-between;
}

.tweeter-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-article img {
  width: 100px;
}

.tweet-article p {
  padding-bottom: 24px;
  border-bottom: 3px solid #4056A1;
}

.tweet-article footer {
  display: flex;
  justify-content: space-between;
}

.tweet-article:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.tweet-article footer span i:hover {
  color: #FFA500;
}